# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large original images
main/src/assets/images/brand-images/*.png
main/src/assets/images/mockups/*.png

# Keep optimized versions
!main/src/assets/images/brand-images/compressed/*_optimized.png
!main/src/assets/images/mockups/compressed/*_optimized.png

# System files
.DS_Store
**/.DS_Store
