# Logs and dependencies
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Image and asset files
/main/src/assets/images/**/*.png
/main/src/assets/images/**/*.jpg
/main/src/assets/images/**/*.gif
/main/src/assets/images/brand-images/
/main/src/assets/images/mockups/
/main/src/assets/pdf/

# Keep optimized versions if needed
!/main/src/assets/images/**/*_optimized.png
!/main/src/assets/images/**/*_optimized.jpg
!/main/src/assets/images/**/*_optimized.gif

# System files
.DS_Store
**/.DS_Store

