@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-[normal] m-0;
  }
}

:root {
  --layout-margins: 2rem;
  --layout-gutter: 3rem;
  --layout-margins-mx: 2.5rem;
  --layout-hero-space-between: 2rem;
  --radius-l: 1rem;
}
