Mode 1: {
    color: {
      'icon-secondary': 'var(--secondary-800, #1e293b)',
      'icon-secondary-hover': 'var(--secondary-900, #0f172a)',
      'icon-secondary-light': 'var(--secondary-500, #64748b)',
      'icon-action': 'var(--primary-500, #86babf)',
      'icon-disabled': 'var(--grayscale-500, #78716c)',
      'icon-disabled-dark': 'var(--grayscale-600, #57534e)',
      'icon-disabled-light': 'var(--grayscale-200, #e7e5e4)',
      'icon-emphasis': 'var(--emphasis-500, #d98977)',
      'icon-error': 'var(--error-500, #a61b1b)',
      'icon-error-disabled': 'var(--neutral-200, #b7b2ac)',
      'icon-error-hover': 'var(--error-700, #6f1212)',
      'icon-on-action': 'var(--primary-800, #435d60)',
      'icon-on-action-hover': 'var(--primary-50, #e7f1f2)',
      'icon-on-action-hover-ghost': 'var(--primary-800, #435d60)',
      'icon-on-action-light': 'var(--primary-700, #597c7f)',
      'icon-on-dark': 'var(--white, #ffffff)',
      'icon-on-emphais-hover': 'var(--emphasis-300, #e6b0a4)',
      'icon-on-emphasis-2': 'var(--emphasis-50, #f7e7e4)',
      'icon-on-emphasis-disabled': 'var(--neutral-300, #999591)',
      'icon-on-secondary': 'var(--secondary-50, #f8fafc)',
      'icon-on-secondary-disabled': 'var(--neutral-200, #b7b2ac)',
      'icon-on-secondary-hover': 'var(--secondary-200, #e2e8f0)',
      'icon-primary': 'var(--black, #000000)',
      'border-action-light': 'var(--primary-300, #aed1d4)',
      'border-dark': 'var(--grayscale-800, #292524)',
      'border-default': 'var(--grayscale-500, #78716c)',
      'border-disbled': 'var(--grayscale-300, #d6d3d1)',
      'border-on-action': 'var(--primary-800, #435d60)',
      'border-on-action-disabled': 'var(--neutral-500, #5f5d59)',
      'border-on-action-hover': 'var(--primary-900, #2d3e40)',
      'border-on-emphasis': 'var(--emphasis-800, #6d453c)',
      'border-on-error': 'var(--error-600, #8a1717)',
      'border-on-error-disabled': 'var(--error-200, #d38d8d)',
      'border-on-error-hover': 'var(--error-700, #6f1212)',
      'border-on-secondary': 'var(--secondary-50, #f8fafc)',
      'border-on-secondary-disabled': 'var(--umi-navy-400, #94a3b8)',
      'border-on-secondary-hover': 'var(--secondary-300, #cbd5e1)',
      'border-on-success': 'var(--success-800, #506048)',
      'border-on-warning': 'var(--warning-700, #7c4317)',
      'border-secondary': 'var(--secondary-800, #1e293b)',
      'border-secondary-hover': 'var(--secondary-900, #0f172a)',
      'surface-action': 'var(--primary-500, #86babf)',
      'surface-action-dark': 'var(--primary-800, #435d60)',
      'surface-action-disabled': 'var(--primary-200, #c2dcdf)',
      'surface-action-hover': 'var(--primary-700, #597c7f)',
      'surface-action-light': 'var(--primary-50, #e7f1f2)',
      'surface-default': 'var(--grayscale-50, #fafaf9)',
      'surface-disabled': 'var(--grayscale-200, #e7e5e4)',
      'surface-disabled-dark': 'var(--grayscale-500, #78716c)',
      'surface-emphasis': 'var(--umi-coral-400, #df9d8e)',
      'surface-emphasis-hover': 'var(--umi-coral-600, #b57263)',
      'surface-error': 'var(--error-200, #d38d8d)',
      'surface-error-disabled': 'var(--grayscale-200, #e7e5e4)',
      'surface-error-hover': 'var(--error-300, #c46767)',
      'surface-neutral': 'var(--neutral-50, #f7f0e8)',
      'surface-neutral-hover': 'var(--neutral-100, #d7d1ca)',
      'surface-on-emphasis-disabled': 'var(--emphasis-100, #f2d8d2)',
      'surface-secondary-action': 'var(--umi-navy-800, #1e293b)',
      'surface-secondary-action-hover': 'var(--umi-navy-900, #0f172a)',
      'surface-secondary-disabled': 'var(--umi-navy-200, #e2e8f0)',
      'surface-selected': 'var(--primary-100, #d7e8ea)',
      'surface-success': 'var(--success-300, #bfd4b4)',
      'surface-success-disabled': 'var(--success-100, #dfeada)',
      'surface-success-hover': 'var(--success-600, #849f77)',
      'surface-warning': 'var(--warning-300, #d1986c)',
      'surface-warning-disabled': 'var(--warning-100, #dcb291)',
      'surface-warning-hover': 'var(--warning-600, #9b541d)',
      'text-secondary': 'var(--secondary-800, #1e293b)',
      'text-secondary-hover': 'var(--secondary-900, #0f172a)',
      'text-secondary-light': 'var(--secondary-400, #94a3b8)',
      'text-action': 'var(--primary-500, #86babf)',
      'text-body': 'var(--umi-gray-900, #1c1917)',
      'text-disabled': 'var(--grayscale-500, #78716c)',
      'text-disabled-dark': 'var(--grayscale-600, #57534e)',
      'text-disabled-light': 'var(--grayscale-200, #e7e5e4)',
      'text-error': 'var(--error-600, #8a1717)',
      'text-error-disabled': 'var(--neutral-200, #b7b2ac)',
      'text-error-hover': 'var(--error-700, #6f1212)',
      'text-headings': 'var(--neutral-900, #030303)',
      'text-neutral': 'var(--neutral-50, #f7f0e8)',
      'text-on-action': 'var(--primary-800, #435d60)',
      'text-on-action-hover': 'var(--primary-50, #e7f1f2)',
      'text-on-action-hover-ghost': 'var(--primary-800, #435d60)',
      'text-on-action-light': 'var(--primary-700, #597c7f)',
      'text-on-dark': 'var(--white, #ffffff)',
      'text-on-emphais-hover': 'var(--emphasis-300, #e6b0a4)',
      'text-on-emphasis': 'var(--emphasis-50, #f7e7e4)',
      'text-on-emphasis-disabled': 'var(--neutral-300, #999591)',
      'text-on-secondary': 'var(--secondary-50, #f8fafc)',
      'text-on-secondary-disabled': 'var(--neutral-200, #b7b2ac)',
      'text-on-secondary-hover': 'var(--secondary-200, #e2e8f0)',
    },
  },
  Mode 1: {
    color: {
      'neutral-hover-opacity-40': '#ebe4db66',
      'on-action-disabled-opacity-60': '#8e969fb2',
      'emphasis-100': 'var(--umi-coral-100, #f2d8d2)',
      'emphasis-200': 'var(--umi-coral-200, #ecc4bb)',
      'emphasis-300': 'var(--umi-coral-300, #e6b0a4)',
      'emphasis-400': 'var(--umi-coral-400, #df9d8e)',
      'emphasis-50': 'var(--umi-coral-50, #f7e7e4)',
      'emphasis-500': 'var(--umi-coral-500, #d98977)',
      'emphasis-600': 'var(--umi-coral-600, #b57263)',
      'emphasis-700': 'var(--umi-coral-700, #915b4f)',
      'emphasis-800': 'var(--umi-coral-800, #6d453c)',
      'emphasis-900': 'var(--umi-coral-900, #482e28)',
      'grayscale-100': 'var(--umi-gray-100, #f5f5f4)',
      'grayscale-200': 'var(--umi-gray-200, #e7e5e4)',
      'grayscale-300': 'var(--umi-gray-300, #d6d3d1)',
      'grayscale-400': 'var(--umi-gray-400, #a8a29e)',
      'grayscale-50': 'var(--umi-gray-50, #fafaf9)',
      'grayscale-500': 'var(--umi-gray-500, #78716c)',
      'grayscale-600': 'var(--umi-gray-600, #57534e)',
      'grayscale-700': 'var(--umi-gray-700, #44403c)',
      'grayscale-800': 'var(--umi-gray-800, #292524)',
      'grayscale-900': 'var(--umi-gray-900, #1c1917)',
      'grayscale-black': 'var(--black, #000000)',
      'grayscale-white': 'var(--white, #ffffff)',
      'neutral-100': 'var(--umi-beige-100, #d7d1ca)',
      'neutral-200': 'var(--umi-beige-200, #b7b2ac)',
      'neutral-300': 'var(--umi-beige-300, #999591)',
      'neutral-400': 'var(--umi-beige-400, #7c7873)',
      'neutral-50': 'var(--umi-beige-50, #f7f0e8)',
      'neutral-500': 'var(--umi-beige-500, #5f5d59)',
      'neutral-600': 'var(--umi-beige-600, #454340)',
      'neutral-700': 'var(--umi-beige-700, #2c2a29)',
      'neutral-800': 'var(--umi-beige-800, #151413)',
      'neutral-900': 'var(--umi-beige-900, #030303)',
      'error-100': 'var(--umi-red-100, #e1b3b3)',
      'error-200': 'var(--umi-red-200, #d38d8d)',
      'error-300': 'var(--umi-red-300, #c46767)',
      'error-400': 'var(--umi-red-400, #b54141)',
      'error-50': 'var(--umi-red-50, #edd1d1)',
      'error-500': 'var(--umi-red-500, #a61b1b)',
      'error-600': 'var(--umi-red-600, #8a1717)',
      'error-700': 'var(--umi-red-700, #6f1212)',
      'error-800': 'var(--umi-red-800, #530e0e)',
      'error-900': 'var(--umi-red-900, #370909)',
      'primary-100': 'var(--umi-blue-100, #d7e8ea)',
      'primary-200': 'var(--umi-blue-200, #c2dcdf)',
      'primary-300': 'var(--umi-blue-300, #aed1d4)',
      'primary-400': 'var(--umi-blue-400, #9ac5ca)',
      'primary-50': 'var(--umi-blue-50, #e7f1f2)',
      'primary-500': 'var(--umi-blue-500, #86babf)',
      'primary-600': 'var(--umi-blue-600, #709b9f)',
      'primary-700': 'var(--umi-blue-700, #597c7f)',
      'primary-800': 'var(--umi-blue-800, #435d60)',
      'primary-900': 'var(--umi-blue-900, #2d3e40)',
      'secondary-100': 'var(--umi-navy-100, #f1f5f9)',
      'secondary-200': 'var(--umi-navy-200, #e2e8f0)',
      'secondary-300': 'var(--umi-navy-300, #cbd5e1)',
      'secondary-400': 'var(--umi-navy-400, #94a3b8)',
      'secondary-50': 'var(--umi-navy-50, #f8fafc)',
      'secondary-500': 'var(--umi-navy-500, #64748b)',
      'secondary-600': 'var(--umi-navy-600, #475569)',
      'secondary-700': 'var(--umi-navy-700, #334155)',
      'secondary-800': 'var(--umi-navy-800, #1e293b)',
      'secondary-900': 'var(--umi-navy-900, #0f172a)',
      'success-100': 'var(--umi-green-100, #dfeada)',
      'success-200': 'var(--umi-green-200, #cfdfc7)',
      'success-300': 'var(--umi-green-300, #bfd4b4)',
      'success-400': 'var(--umi-green-400, #afcaa2)',
      'success-50': 'var(--umi-green-50, #ecf2e9)',
      'success-500': 'var(--umi-green-500, #9fbf8f)',
      'success-600': 'var(--umi-green-600, #849f77)',
      'success-700': 'var(--umi-green-700, #6a7f5f)',
      'success-800': 'var(--umi-green-800, #506048)',
      'success-900': 'var(--umi-green-900, #354030)',
      'warning-100': 'var(--umi-orange-200, #dcb291)',
      'warning-200': 'var(--umi-orange-300, #d1986c)',
      'warning-300': 'var(--umi-orange-300, #d1986c)',
      'warning-400': 'var(--umi-orange-400, #c57f48)',
      'warning-50': 'var(--umi-orange-50, #f1e0d3)',
      'warning-500': 'var(--umi-orange-500, #ba6523)',
      'warning-600': 'var(--umi-orange-600, #9b541d)',
      'warning-700': 'var(--umi-orange-700, #7c4317)',
      'warning-800': 'var(--umi-orange-800, #5d3312)',
      'warning-900': 'var(--umi-orange-900, #3e220c)',
    },
  },
  Mode 1: {
    number: {
      'sizing-1-(12)': '0.75rem',
      'sizing-2-(14)': '0.875rem',
      'sizing-3-(16)': '1rem',
      'sizing-4-(18)': '1.125rem',
      'sizing-5-(20)': '1.25rem',
      'sizing-6-(24)': '1.5rem',
      'sizing-7-(30)': '1.875rem',
      'sizing-8-(36)': '2.25rem',
      'sizing-9-(48)': '3rem',
      'sizing-10-(60)': '3.75rem',
      'sizing-11-(72)': '4.5rem',
      'sizing-12-(96)': '6rem',
      'sizing-13-(128)': '8rem',
      'weight-thin': '100',
      'weight-extra-light': '200',
      'weight-light': '300',
      'weight-regular': '400',
      'weight-medium': '500',
      'weight-semi-bold': '600',
      'weight-bold': '700',
      'weight-extra-bold': '800',
      'weight-black': '900',
    },
    string: {
      'family-sans-(neulis-sans)': 'NeulisSans',
      'family-serif-(neulis-cursive)': 'NeulisCursive',
    },
  },
  Mode 1: {
    color: {
      'black': '#000000',
      'white': '#ffffff',
      'umi-beige-100': '#d7d1ca',
      'umi-beige-200': '#b7b2ac',
      'umi-beige-300': '#999591',
      'umi-beige-400': '#7c7873',
      'umi-beige-50': '#f7f0e8',
      'umi-beige-500': '#5f5d59',
      'umi-beige-600': '#454340',
      'umi-beige-700': '#2c2a29',
      'umi-beige-800': '#151413',
      'umi-beige-900': '#030303',
      'umi-blue-100': '#d7e8ea',
      'umi-blue-200': '#c2dcdf',
      'umi-blue-300': '#aed1d4',
      'umi-blue-400': '#9ac5ca',
      'umi-blue-50': '#e7f1f2',
      'umi-blue-500': '#86babf',
      'umi-blue-600': '#709b9f',
      'umi-blue-700': '#597c7f',
      'umi-blue-800': '#435d60',
      'umi-blue-900': '#2d3e40',
      'umi-coral-100': '#f2d8d2',
      'umi-coral-200': '#ecc4bb',
      'umi-coral-300': '#e6b0a4',
      'umi-coral-400': '#df9d8e',
      'umi-coral-50': '#f7e7e4',
      'umi-coral-500': '#d98977',
      'umi-coral-600': '#b57263',
      'umi-coral-700': '#915b4f',
      'umi-coral-800': '#6d453c',
      'umi-coral-900': '#482e28',
      'umi-gray-100': '#f5f5f4',
      'umi-gray-200': '#e7e5e4',
      'umi-gray-300': '#d6d3d1',
      'umi-gray-400': '#a8a29e',
      'umi-gray-50': '#fafaf9',
      'umi-gray-500': '#78716c',
      'umi-gray-600': '#57534e',
      'umi-gray-700': '#44403c',
      'umi-gray-800': '#292524',
      'umi-gray-900': '#1c1917',
      'umi-green-100': '#dfeada',
      'umi-green-200': '#cfdfc7',
      'umi-green-300': '#bfd4b4',
      'umi-green-400': '#afcaa2',
      'umi-green-50': '#ecf2e9',
      'umi-green-500': '#9fbf8f',
      'umi-green-600': '#849f77',
      'umi-green-700': '#6a7f5f',
      'umi-green-800': '#506048',
      'umi-green-900': '#354030',
      'umi-navy-100': '#f1f5f9',
      'umi-navy-200': '#e2e8f0',
      'umi-navy-300': '#cbd5e1',
      'umi-navy-400': '#94a3b8',
      'umi-navy-50': '#f8fafc',
      'umi-navy-500': '#64748b',
      'umi-navy-600': '#475569',
      'umi-navy-700': '#334155',
      'umi-navy-800': '#1e293b',
      'umi-navy-900': '#0f172a',
      'umi-orange-100': '#e8ccb6',
      'umi-orange-200': '#dcb291',
      'umi-orange-300': '#d1986c',
      'umi-orange-400': '#c57f48',
      'umi-orange-50': '#f1e0d3',
      'umi-orange-500': '#ba6523',
      'umi-orange-600': '#9b541d',
      'umi-orange-700': '#7c4317',
      'umi-orange-800': '#5d3312',
      'umi-orange-900': '#3e220c',
      'umi-red-100': '#e1b3b3',
      'umi-red-200': '#d38d8d',
      'umi-red-300': '#c46767',
      'umi-red-400': '#b54141',
      'umi-red-50': '#edd1d1',
      'umi-red-500': '#a61b1b',
      'umi-red-600': '#8a1717',
      'umi-red-700': '#6f1212',
      'umi-red-800': '#530e0e',
      'umi-red-900': '#370909',
    },
  },
  Mode 1: {
    number: {
      'number-scale-2s-2': '0.125rem',
      'number-scale-2s-4': '0.25rem',
      'number-scale-2s-6': '0.375rem',
      'number-scale-2s-8': '0.5rem',
      'number-scale-2s-10': '0.625rem',
      'number-scale-2s-12': '0.75rem',
      'number-scale-2s-14': '0.875rem',
      'number-scale-2s-16': '1rem',
      'number-scale-2s-18': '1.125rem',
      'number-scale-2s-20': '1.25rem',
      'number-scale-2s-22': '1.375rem',
      'number-scale-2s-24': '1.5rem',
      'number-scale-2s-26': '1.625rem',
      'number-scale-2s-28': '1.75rem',
      'number-scale-2s-30': '1.875rem',
      'number-scale-2s-32': '2rem',
      'number-scale-2s-34': '2.125rem',
      'number-scale-2s-36': '2.25rem',
      'number-scale-2s-38': '2.375rem',
      'number-scale-2s-40': '2.5rem',
      'number-scale-2s-42': '2.625rem',
      'number-scale-2s-44': '2.75rem',
      'number-scale-2s-46': '2.875rem',
      'number-scale-2s-48': '3rem',
      'number-scale-2s-50': '3.125rem',
      'number-scale-2s-52': '3.25rem',
      'number-scale-2s-54': '3.375rem',
      'number-scale-2s-56': '3.5rem',
      'number-scale-2s-58': '3.625rem',
      'number-scale-2s-60': '3.75rem',
      'number-scale-2s-72': '4.5rem',
      'number-scale-2s-999': '62.4375rem',
    },
  },
  Mode 1: {
    number: {
      'radius-xs': 'var(--number-scale-2s-4, 0.25rem)',
      'radius-s': 'var(--number-scale-2s-8, 0.5rem)',
      'radius-m': 'var(--number-scale-2s-12, 0.75rem)',
      'radius-l': 'var(--number-scale-2s-16, 1rem)',
      'radius-xl': 'var(--number-scale-2s-20, 1.25rem)',
      'radius-2xl': 'var(--number-scale-2s-24, 1.5rem)',
      'radius-3xl': 'var(--number-scale-2s-28, 1.75rem)',
      'radius-full': 'var(--number-scale-2s-999, 62.4375rem)',
    },
  },
  Desktop: {
    number: {
      'disabled': 'var(--opacity-50, 3.125rem)',
      'blur-none': '0rem',
      'blur-sm': '0.25rem',
      'blur-default': '0.5rem',
      'blur-md': '0.75rem',
      'blur-lg': '1rem',
      'blur-xl': '1.5rem',
      'blur-2xl': '2.5rem',
      'blur-3xl': '4rem',
      'border-radius-none': '0rem',
      'border-radius-sm': 'var(--radius-s, 0.5rem)',
      'border-radius-default': 'var(--radius-m, 0.75rem)',
      'border-radius-md': 'var(--radius-m, 0.75rem)',
      'border-radius-lg': 'var(--radius-l, 1rem)',
      'border-radius-xl': 'var(--radius-xl, 1.25rem)',
      'border-radius-2xl': 'var(--radius-2xl, 1.5rem)',
      'border-radius-3xl': 'var(--radius-3xl, 1.75rem)',
      'border-radius-full': 'var(--radius-full, 62.4375rem)',
      'border-width-0': '0rem',
      'border-width-1': '0.0625rem',
      'border-width-2': '0.125rem',
      'border-width-4': '0.25rem',
      'border-width-8': '0.5rem',
      'font-leading-none': '0.0625rem',
      'font-leading-tight': '0.0781rem',
      'font-leading-snug': '0.0859rem',
      'font-leading-normal': '0.0938rem',
      'font-leading-relaxed': '0.1016rem',
      'font-leading-loose': '0.125rem',
      'font-leading-3-(12)': '0.75rem',
      'font-leading-4-(16)': '1rem',
      'font-leading-5-(20)': '1.25rem',
      'font-leading-6-(24)': '1.5rem',
      'font-leading-7-(28)': '1.75rem',
      'font-leading-8-(32)': '2rem',
      'font-leading-9-(36)': '2.25rem',
      'font-leading-10-(40)': '2.5rem',
      'font-size-xs': 'var(--sizing-1-(12), 0.75rem)',
      'font-size-sm': 'var(--sizing-2-(14), 0.875rem)',
      'font-size-base': 'var(--sizing-3-(16), 1rem)',
      'font-size-lg': 'var(--sizing-4-(18), 1.125rem)',
      'font-size-xl': 'var(--sizing-5-(20), 1.25rem)',
      'font-size-2xl': 'var(--sizing-6-(24), 1.5rem)',
      'font-size-3xl': 'var(--sizing-7-(30), 1.875rem)',
      'font-size-4xl': 'var(--sizing-8-(36), 2.25rem)',
      'font-size-5xl': 'var(--sizing-9-(48), 3rem)',
      'font-size-6xl': 'var(--sizing-10-(60), 3.75rem)',
      'font-size-7xl': 'var(--sizing-11-(72), 4.5rem)',
      'font-size-8xl': 'var(--sizing-12-(96), 6rem)',
      'font-size-9xl': 'var(--sizing-13-(128), 8rem)',
      'font-tracking-tighter': '-0.05rem',
      'font-tracking-tight': '-0.025rem',
      'font-tracking-normal': '0rem',
      'font-tracking-wide': '0.025rem',
      'font-tracking-wider': '0.05rem',
      'font-tracking-widest': '0.1rem',
      'font-weight-thin': 'var(--weight-thin, 100)',
      'font-weight-extralight': 'var(--weight-extra-light, 200)',
      'font-weight-light': 'var(--weight-light, 300)',
      'font-weight-normal': 'var(--weight-regular, 400)',
      'font-weight-medium': 'var(--weight-medium, 500)',
      'font-weight-semibold': 'var(--weight-semi-bold, 600)',
      'font-weight-bold': 'var(--weight-bold, 700)',
      'font-weight-extrabold': 'var(--weight-extra-bold, 800)',
      'font-weight-black': 'var(--weight-black, 900)',
      'max-width-0': '0rem',
      'max-width-xs-(320)': '20rem',
      'max-width-sm-(384)': '24rem',
      'max-width-md-(448)': '28rem',
      'max-width-lg-(512)': '32rem',
      'max-width-xl-(576)': '36rem',
      'max-width-2xl-(672)': '42rem',
      'max-width-3xl-(768)': '48rem',
      'max-width-4xl-(896)': '56rem',
      'max-width-5xl-(1024)': '64rem',
      'max-width-6xl-(1152)': '72rem',
      'max-width-7xl-(1280)': '80rem',
      'min-width-0': '0rem',
      'min-width-1': '0.25rem',
      'min-width-2': '0.5rem',
      'min-width-3': '0.75rem',
      'min-width-4': '1rem',
      'min-width-5': '1.25rem',
      'min-width-6': '1.5rem',
      'min-width-7': '1.75rem',
      'min-width-8': '2rem',
      'min-width-9': '2.25rem',
      'min-width-10': '2.5rem',
      'min-width-11': '2.75rem',
      'min-width-12': '3rem',
      'min-width-14': '3.5rem',
      'min-width-16': '4rem',
      'min-width-20': '5rem',
      'min-width-24': '6rem',
      'min-width-28': '7rem',
      'min-width-32': '8rem',
      'min-width-36': '9rem',
      'min-width-40': '10rem',
      'min-width-44': '11rem',
      'min-width-48': '12rem',
      'min-width-52': '13rem',
      'min-width-56': '14rem',
      'min-width-60': '15rem',
      'min-width-64': '16rem',
      'min-width-72': '18rem',
      'min-width-80': '20rem',
      'min-width-96': '24rem',
      'opacity-0': '0rem',
      'opacity-5': '0.3125rem',
      'opacity-10': '0.625rem',
      'opacity-15': '0.9375rem',
      'opacity-20': '1.25rem',
      'opacity-25': '1.5625rem',
      'opacity-30': '1.875rem',
      'opacity-35': '2.1875rem',
      'opacity-40': '2.5rem',
      'opacity-45': '2.8125rem',
      'opacity-50': '3.125rem',
      'opacity-55': '3.4375rem',
      'opacity-60': '3.75rem',
      'opacity-65': '4.0625rem',
      'opacity-70': '4.375rem',
      'opacity-75': '4.6875rem',
      'opacity-80': '5rem',
      'opacity-85': '5.3125rem',
      'opacity-90': '5.625rem',
      'opacity-95': '5.9375rem',
      'opacity-100': '6.25rem',
      'screens-base-(mobile)': '23.4375rem',
      'screens-sm-(640)': '40rem',
      'screens-md-(768)': '48rem',
      'screens-lg-(1024)': '64rem',
      'screens-xl-(1280)': '80rem',
      'screens-2xl': '96rem',
      'skew-0': '0rem',
      'skew-1': '0.0625rem',
      'skew-2': '0.125rem',
      'skew-3': '0.1875rem',
      'skew-6': '0.375rem',
      'skew-12': '0.75rem',
      'spacing-0': '0rem',
      'spacing-px': '0.0625rem',
      'spacing-0-5': '0.125rem',
      'spacing-1-(4)': '0.25rem',
      'spacing-1-5': '0.375rem',
      'spacing-2-(8)': '0.5rem',
      'spacing-2-5': '0.625rem',
      'spacing-3-(12)': '0.75rem',
      'spacing-3-5': '0.875rem',
      'spacing-4-(16)': '1rem',
      'spacing-5-(20)': '1.25rem',
      'spacing-6-(24)': '1.5rem',
      'spacing-7-(28)': '1.75rem',
      'spacing-8-(32)': '2rem',
      'spacing-9-(36)': '2.25rem',
      'spacing-10-(40)': '2.5rem',
      'spacing-11-(44)': '2.75rem',
      'spacing-12-(48)': '3rem',
      'spacing-14-(56)': '3.5rem',
      'spacing-16-(64)': '4rem',
      'spacing-20-(80)': '5rem',
      'spacing-24-(96)': '6rem',
      'spacing-28-(112)': '7rem',
      'spacing-32-(128)': '8rem',
      'spacing-36-(144)': '9rem',
      'spacing-40-(160)': '10rem',
      'spacing-44': '11rem',
      'spacing-48': '12rem',
      'spacing-52': '13rem',
      'spacing-56': '14rem',
      'spacing-60': '15rem',
      'spacing-64': '16rem',
      'spacing-72': '18rem',
      'spacing-80': '20rem',
      'spacing-96': '24rem',
    },
    string: {
      'font-family-sans': 'var(--family-sans-(neulis-sans), NeulisSans)',
      'font-family-script': 'var(--family-serif-(neulis-cursive), NeulisCursive)',
      'font-style-italic': 'italic',
      'font-style-not-italic': 'normal',
    },
  },
  Desktop: {
    number: {
      'layout-columns': 'var(--number-scale-2s-12, 0.75rem)',
      'layout-icon-size': 'var(--height-h-6-(24), 1.5rem)',
      'layout-space-between': 'var(--spacing-6-(24), 1.5rem)',
      'layout-gutters': 'var(--margin-m-16, 4rem)',
      'layout-margins-mx': 'var(--spacing-20-(80), 5rem)',
      'layout-margins-my': 'var(--spacing-20-(80), 5rem)',
      'layout-breakpoint': 'var(--screens-xl-(1280), 80rem)',
      'layout-flipbook-padding-space-between': 'var(--padding-p-2-(8), 0.5rem)',
      'layout-flipbook-padding-py': 'var(--padding-p-3-(12), 0.75rem)',
      'layout-flipbook-padding-px': 'var(--padding-p-4-(16), 1rem)',
      'layout-gallery-min-width': 'var(--min-width-80, 20rem)',
      'typography-body': 'var(--font-size-base, 1rem)',
      'typography-subheading-size': 'var(--font-size-4xl, 2.25rem)',
      'typography-sub-heading-line-height': '2.75rem',
      'typography-heading-size': 'var(--font-size-9xl, 8rem)',
      'typography-heading-line-height': '9.375rem',
      'typography-sub-heading-weight': 'var(--font-weight-medium, 500)',
      'typography-heading-weight': 'var(--font-weight-semibold, 600)',
    },
  },
  Tablet: {
    number: {
      'layout-columns': 'var(--number-scale-2s-8, 0.5rem)',
      'layout-space-between': 'var(--spacing-4-(16), 1rem)',
      'layout-icon-size': 'var(--height-h-5-(20), 1.25rem)',
      'layout-gutters': 'var(--margin-m-6, 1.5rem)',
      'layout-margins-mx': 'var(--spacing-8-(32), 2rem)',
      'layout-margins-my': 'var(--spacing-8-(32), 2rem)',
      'layout-breakpoint': 'var(--screens-md-(768), 48rem)',
      'layout-flipbook-padding-space-between': 'var(--padding-p-1-5-(6), 0.375rem)',
      'layout-flipbook-padding-py': 'var(--padding-p-2-5-(10), 0.625rem)',
      'layout-flipbook-padding-px': 'var(--padding-p-3-5-(14), 0.875rem)',
      'layout-gallery-min-width': 'var(--min-width-72, 18rem)',
      'typography-body': 'var(--font-size-base, 1rem)',
      'typography-subheading-size': 'var(--font-size-3xl, 1.875rem)',
      'typography-sub-heading-line-height': '2.5rem',
      'typography-heading-size': 'var(--font-size-7xl, 4.5rem)',
      'typography-heading-line-height': '5rem',
      'typography-sub-heading-weight': 'var(--font-weight-medium, 500)',
      'typography-heading-weight': 'var(--font-weight-semibold, 600)',
    },
  },
  Mobile: {
    number: {
      'layout-columns': 'var(--number-scale-2s-4, 0.25rem)',
      'layout-icon-size': 'var(--height-h-4-(16), 1rem)',
      'layout-margins-mx': 'var(--spacing-4-(16), 1rem)',
      'layout-margins-my': 'var(--spacing-4-(16), 1rem)',
      'layout-space-between': 'var(--spacing-4-(16), 1rem)',
      'layout-gutters': 'var(--margin-m-6, 1.5rem)',
      'layout-breakpoint': 'var(--screens-base-(mobile), 23.4375rem)',
      'layout-flipbook-padding-space-between': 'var(--padding-p-1-(4), 0.25rem)',
      'layout-flipbook-padding-py': 'var(--padding-p-2-(8), 0.5rem)',
      'layout-flipbook-padding-px': 'var(--padding-p-3-(12), 0.75rem)',
      'layout-gallery-min-width': 'var(--min-width-72, 18rem)',
      'typography-body': 'var(--font-size-sm, 0.875rem)',
      'typography-subheading-size': 'var(--font-size-2xl, 1.5rem)',
      'typography-sub-heading-line-height': '1.875rem',
      'typography-heading-size': 'var(--font-size-6xl, 3.75rem)',
      'typography-heading-line-height': '4.5rem',
      'typography-sub-heading-weight': 'var(--font-weight-medium, 500)',
      'typography-heading-weight': 'var(--font-weight-semibold, 600)',
    },
  },